---
---

@import "{{ site.theme }}";
@import "scrollbars";

/* Hide some data things we don't want on page */

header {
    display: none;
}

#title {
    display: none;
}

section {
    margin-top: 15px;
}